@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../fonts/Gilroy-Bold.eot');
  src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Bold.woff2') format('woff2'),
  url('../fonts/Gilroy-Bold.woff') format('woff'),
  url('../fonts/Gilroy-Bold.ttf') format('truetype'),
  url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../fonts/Gilroy-Medium.eot');
  src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Medium.woff2') format('woff2'),
  url('../fonts/Gilroy-Medium.woff') format('woff'),
  url('../fonts/Gilroy-Medium.ttf') format('truetype'),
  url('../fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../fonts/Gilroy-Regular.eot');
  src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Regular.woff2') format('woff2'),
  url('../fonts/Gilroy-Regular.woff') format('woff'),
  url('../fonts/Gilroy-Regular.ttf') format('truetype'),
  url('../fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.red_block {
  background-color: #FF0E0E;
  text-align: center;
  line-height: 36px;
  font-family: 'Gilroy-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #FFFFFF;
}

body {
  background-color: white;
}

header {
  position: absolute;
  width: 100%;
  background-color: black;
  top: 36px;
  z-index: 1;

  .bg-dark {
    --bs-bg-opacity: 1;
    background-color: transparent !important;
  }

  .navbar {
    padding: 10px 0;

    .navbar-brand {
      padding: 0;
      @include max-screen(767px) {
        max-width: 180px;
        img {
          width: 100%;
        }
      }
    }

    .nav-item {
      margin-left: 30px;
      @include max-screen(1400px) {
        margin-left: 40px;
      }
      @include max-screen(1199px) {
        margin-left: 10px;
      }
      @include max-screen(767px) {
        margin: 10px 5px;
      }

      .nav-link {
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: 0.3s;
        @include max-screen(1199px) {
          font-size: 10px;
        }

        &:hover {
          transform: scale(1.1);
        }
      }

      &:last-of-type {
        margin-left: 20px;
        @include max-screen(767px) {
          margin-left: 0;
        }

        .nav-link {
          font-family: 'Gilroy-Bold';
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          background-color: #FFFFFF;
          border-radius: 4px;
          color: #3A3A3A;
          padding: 10px 20px;
          display: inline-flex;
          align-items: center;
        }
      }
    }
  }

  .navbar-toggler {
    border-color: white;
  }

  .navbar-collapse {
    @include max-screen(900px) {
      background-color: black;
    }
  }
}

.main_banner {
  background-image: url("../images/main_bg.png");
  background-size: cover;
  height: 82vh;
  background-position: left bottom;
  box-sizing: border-box;
  padding-top: 100px;
  @include max-screen(900px) {
    padding-top: 200px;
  }
  @include max-screen(800px) {
    padding-top: 170px;
    height: auto;
  }

  .col-lg-6.position-relative {
    top: -35px;
    @include max-screen(767px) {
      top: 0;
    }
  }

  h1 {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 10px;
    @include max-screen(767px) {
      font-size: 36px;
      line-height: 44px;
    }
  }

  h3 {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 10px;
    @include max-screen(767px) {
      font-size: 24px;
      line-height: 31px;
    }

    span {
      color: rgba(233, 37, 37, 1);
    }
  }

  p {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    /* or 18px */
    color: #A9A7A7;
    margin-bottom: 40px;
  }

  a {
    display: inline-block;
    background: #FF0E0E;
    border-radius: 4px;
    padding: 10px 20px;
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;
  }
}

.white_cus {
  height: 115px;
  @include max-screen(1200px){
    height: 400px;
  }
  @include max-screen(992px){
    height: auto;
  }
  .custom {
    position: relative;

    .right-side {
      background: #000000;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      padding: 35px 60px;
      font-family: 'Gilroy-Bold';
      font-style: normal;
      font-weight: 600;
      font-size: 21px;
      line-height: 110%;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      max-width: 376px;
      @include max-screen(767px) {
        max-width: 100%;
      }
      a {
        font-family: 'Gilroy-Bold';
        margin-top: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 110%;
        color: #000000;
        padding: 15px 20px;
        display: block;
        background-color: white;
        border-radius: 0;
        text-decoration: none;

        &:before {
          content: "";
          display: inline-block;
          background-image: url("../images/arrow_right_alt.svg");
          width: 15px;
          height: 11px;
          margin-right: 10px;
        }
      }
    }

    .left-side {
      filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));
      border-radius: 8px;
      display: flex;
      background-color: white;
      flex-wrap: wrap;

      .item {
        padding: 30px;
        max-width: 304px;
        border: 1px solid #F5F5F5;
        border-right: none;
        position: relative;
        @include max-screen(1399px) {
          max-width: 234px;
        }
        @include max-screen(767px) {
          max-width: 100%;
        }
        &:last-of-type {
          border-right: 1px solid #F5F5F5;
          border-radius: 0px 8px 8px 0;
        }

        &:first-of-type {
          border-radius: 8px 0 0 8px;
        }

        h3 {
          font-family: 'Gilroy-Bold';
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 110%;
          color: #666666;
          margin-bottom: 10px;
        }

        p {
          font-family: 'Gilroy-Medium';
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 130%;
          letter-spacing: 0.01em;
          color: #666666;
          margin-bottom: 18px;
        }

        a {
          padding: 0;
          background-color: transparent;
          position: absolute;
          bottom: 30px;
          left: 30px;
          @include max-screen(1399px) {
            position: relative;
            bottom: 0px;
            left: 0px;
          }
        }
      }
    }
  }
}

.Brand {
  background-color: #EDEDED;
  padding-top: 140px;
  text-align: center;

  h2 {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.01em;
    margin-bottom: 10px;

    span {
      font-family: 'Gilroy-Regular';
      font-weight: lighter;
    }
  }

  p {
    margin-bottom: 20px;
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #000000;
  }

  .btn-red {
    font-family: 'Gilroy-Bold';
    margin-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 110%;
    color: white;
    padding: 15px 20px;
    background-color: #FF0E0E;
    border-radius: 4px;
    text-decoration: none;
    display: inline-flex;
    margin-bottom: 40px;
    &:before {
      content: "";
      display: inline-block;
      background-image: url("../images/arrow_right_alt_white.svg");
      width: 15px;
      height: 11px;
      margin-right: 10px;
    }
  }
  .items-blocks{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    @include max-screen(992px){
      flex-wrap: wrap;
      justify-content: center;
    }
    .item{
      border-radius: 6px;
      overflow: hidden;
      background-color: white;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom center;
      min-height: 458px;
      max-width: 322px;
      width: 100%;
      padding: 20px 30px;
      text-align: left;
      background-image: url("../images/item_1.png");
      margin-bottom: 40px;
      &:nth-child(2){
        background-image: url("../images/item_2.png");
      }
      &:nth-child(3){
        background-image: url("../images/item_3.png");
      }
      &:nth-child(4){
        background-image: url("../images/item_4.png");
      }
      span{
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 17.2px;
        line-height: 110%;
        letter-spacing: 0.01em;
        color: #3A3A3A;
        &:first-of-type{
          font-family: 'Gilroy-Regular';
          font-style: normal;
          font-weight: 300;
          font-size: 52px;
          line-height: 52px;
          letter-spacing: 0.01em;
          color: #1C1C1C;
          margin-right: 18px;
          display: inline-block;
        }
      }
      p{
        font-family: 'Gilroy-Medium';
        padding-top: 34px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: #666666;
      }
    }
  }
  .items-blocks-2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    @include max-screen(992px){
      flex-wrap: wrap;
      justify-content: center;
    }
    .item{
      border-radius: 6px;
      overflow: hidden;
      background-color: white;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom center;
      min-height: 458px;
      max-width: 322px;
      width: 100%;
      padding: 20px 20px;
      text-align: left;
      background-image: url("../images/item_5.png");
      margin-bottom: 40px;
      &:nth-child(2){
        background-image: url("../images/item_6.png");
      }
      &:nth-child(3){
        background-image: url("../images/item_7.png");
      }
      &:nth-child(4){
        background-image: url("../images/item_8.png");
      }
      span{
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 17.2px;
        line-height: 110%;
        letter-spacing: 0.01em;
        color: #3A3A3A;
        &:first-of-type{
          font-family: 'Gilroy-Regular';
          font-style: normal;
          font-weight: 300;
          font-size: 52px;
          line-height: 52px;
          letter-spacing: 0.01em;
          color: #1C1C1C;
          margin-right: 18px;
          display: inline-block;
        }
      }
      p{
        font-family: 'Gilroy-Medium';
        padding-top: 34px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: #666666;
      }
    }
  }
  .items-blocks-3{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    @include max-screen(992px){
      flex-wrap: wrap;
      justify-content: center;
    }
    .item{
      border-radius: 6px;
      overflow: hidden;
      background-color: white;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom center;
      min-height: 458px;
      max-width: 430px;
      width: 100%;
      padding: 20px 20px;
      text-align: left;
      background-image: url("../images/item_9.png");
      margin-bottom: 40px;
      &:nth-child(2){
        background-image: url("../images/item_10.png");
      }
      &:nth-child(3){
        background-image: url("../images/item_11.png");
      }
      span{
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 17.2px;
        line-height: 110%;
        letter-spacing: 0.01em;
        color: #3A3A3A;
        &:first-of-type{
          font-family: 'Gilroy-Regular';
          font-style: normal;
          font-weight: 300;
          font-size: 52px;
          line-height: 52px;
          letter-spacing: 0.01em;
          color: #1C1C1C;
          margin-right: 18px;
          display: inline-block;
        }
      }
      p{
        font-family: 'Gilroy-Medium';
        padding-top: 34px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: #666666;
      }
    }
  }
}
.reviews{
  padding: 80px 0 90px;
  background-color: #F8F8F8;
  h2 {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: #3A3A3A;
    margin-bottom: 30px;
  }
  blockquote{
    img{
      max-width: 174px;
      margin-bottom: 30px;
      @include max-screen(767px){
        margin: auto;
        margin-bottom: 30px;
      }
    }
    .reviews_star{
      display: flex;
      align-items: center;
      img{
        width: 20px;
        height: 20px;
        margin-right: 4px;
        margin-bottom: 0;
        margin: inherit;
      }
    }
    .date{
      display: inline-block;
      margin-left: 16px;
      font-family: 'Gilroy-Medium';
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #3A3A3A;
    }
    h4{
      padding-top: 30px;
      padding-bottom: 20px;
      font-family: 'Gilroy-Bold';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 110%;
      letter-spacing: 0.04em;
      color: #3A3A3A;
    }
    p{
      font-family: 'Gilroy-Medium';
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #3A3A3A;
      max-width: 406px;
    }
  }
  .owl-nav{
    display: none;
  }
  .owl-dots{
    text-align: center;
    padding-top: 50px;
    .owl-dot{
      span{
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #D9D9D9;
        border-radius: 50px;
        margin: 5px;
      }
      &.active{
        span{
          background-color: #000;
        }
      }
    }
  }
}
.qoute{
  background-color: #000000;
  padding: 80px 0;
  .logo{
    margin-bottom: 20px;
  }
  .link_MU{
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 110%;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 49px;
    margin-left: 20px;
    display: inline-block;
    &:before {
      content: "";
      display: inline-block;
      background-image: url("../images/arrow_right_alt_white.svg");
      width: 15px;
      height: 11px;
      margin-right: 10px;
    }
  }
  ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    li{
      font-family: 'Gilroy-Medium';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      margin-bottom: 28px;
      &:before{
        content: "";
        display: inline-block;
        background-image: url("../images/Icon.svg");
        width: 66px;
        height: 66px;
        background-size: cover;
        margin-right: 10px;
      }
      &:nth-child(2){
        &:before{
          background-image: url("../images/Icon_2.svg");
        }
      }
      &:nth-child(3){
        &:before{
          background-image: url("../images/Icon_3.svg");
        }
      }
      span{
        display: block;
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 150%;
        align-items: center;
        text-transform: capitalize;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 8px;
      }
    }
  }
  h2{
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-bottom: 35px;
  }
  p{
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
  }
  form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .form-label{
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 10px;
  }
  .form-control{
    background: #FFFFFF;
    border-radius: 0;
    height: 40px;
    line-height:40px;
    width: 100%;
    display: block;
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #3A3A3A;
    opacity: 1;
    border: none;
  }
  textarea{
    resize: none;
    height: 120px!important;
  }
  .form-group{
    width: 49%;
    margin-bottom: 20px;
    @include max-screen(767px){
      width: 100%;
    }
  }
  .btn-primary{
    background-color: #FF0E0E;
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 0;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-transform: uppercase;
    &:before {
      content: "";
      display: inline-block;
      background-image: url("../images/arrow_right_alt_white.svg");
      width: 15px;
      height: 11px;
      margin-right: 10px;
    }
  }
}
.faq{
  padding: 80px 0;
  background-color: #FFFFFF;
  h3 {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: #3A3A3A;
    margin-bottom: 30px;
  }
  .container{
    max-width: 900px;
  }
  .accordion-item{
    border: none;
    border-bottom: solid 1px #ECECEC;
    padding: 0;
  }
  .accordion-button{
    padding: 30px 0 34px;
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: #000000;
    border: none;
    &:focus{
      outline: none;
      box-shadow: none;
    }
  }
  .accordion-button:not(.collapsed){
    background-color: transparent;
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: #000000;
    border: none;
    &:focus{
      outline: none;
      box-shadow: none;
    }
  }
  .accordion-body{
    padding-left: 0;
    padding-right: 0;
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #3A3A3A;
  }
  .accordion-item:first-of-type .accordion-button{
    border: none;
    box-shadow: none;
  }
  .accordion-button::after{
    background-image: url("../images/add.svg");
    width: 14px;
    height: 14px;
    background-size: contain;
  }
}
